html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'VT323', monospace;
  background: #3e58cf;
}

.container {
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.score {
  color: #FFF;
  font-size: 36px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

canvas {
  border: 1px solid white;
  border-radius: 3%;
}

.controls {
  width: 130px;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.controls > div {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button {
  width: 40px;
  height: 40px;
  color: #3e58cf;
  border-radius: 10%;
  background: white;
}