html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'VT323', monospace;
    background: rgb(62, 88, 207);
}

.container {
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.score {
    color: #FFF;
    font-size: 36px;
    align-self: flex-start;
}

canvas {
    border: 1px solid white;
    border-radius: 3%;
}

.controls {
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}

.controls > div {
    width: inherit;
    display: flex;
    justify-content: space-between;
}

.button {
    width: 40px;
    height: 40px;
    color: rgb(62, 88, 207);
    border-radius: 10%;
    background: white;
}
